<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>Class</key>
        <string>HRMEmployeeListViewController</string>
        <key>Tag</key>
        <integer>1</integer>
        <key>Enum</key>
        <string>1</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMTimSheetViewController</string>
        <key>Tag</key>
        <integer>2</integer>
        <key>Enum</key>
        <string>2</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMLeaveListViewController</string>
        <key>Tag</key>
        <integer>3</integer>
        <key>Enum</key>
        <string>4</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMInterviewListViewController</string>
        <key>Tag</key>
        <integer>4</integer>
        <key>Enum</key>
        <string>5</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMLeaveListViewController</string>
        <key>Tag</key>
        <integer>5</integer>
        <key>Enum</key>
        <string>6</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMEmployeeListViewController</string>
        <key>Tag</key>
        <integer>6</integer>
        <key>Enum</key>
        <string>7</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMMyProfileViewController</string>
        <key>Tag</key>
        <integer>7</integer>
        <key>Enum</key>
        <string>8</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>HRMSettingsViewController</string>
        <key>Tag</key>
        <integer>8</integer>
        <key>Enum</key>
        <string>10</string>
    </dict>
</array>
</plist>
